.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  height: 60px;
  background: #0D4378;
}

.header-menu {}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  list-style: none;

}

.link {
  color: #fff;
  text-decoration: none;
}

.item+.item {

  margin-left: 30px;
}

.btn-row {
  display: none;
}


.social-icons,
.phone-box {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;

}

.phone-box {
  display: flex;
  align-items: center;

  i {
    margin-right: 10px;
  }
}