.main {
  position: relative;
  background: #3A539B;
  left: 260px;
  width: calc(100% - 260px);
  height: 100vh;
  transition: all .5s ease;
}

.btn-row {
  display: flex;
  align-items: center;
  height: 100%;

}

.bx-menu {
  position: fixed;
  color: #fff;
  font-size: 35px;
  margin: 0 15px;
  cursor: pointer;
}

.text {
  color: #fff;
  font-size: 26px;
}

.close {
  width: 78px;
}

.logo-details {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;


  .logo-name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
  }

  i {
    margin: 0 1.5rem;
    font-size: 30px;
    color: #fff;
    cursor: pointer;

    // height: 50px;
    // min-width: 78px;
    // text-align: center;
    // line-height: 50px;

  }
}

.close .logo-details .logo-name {
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
  transition-delay: 0.1s;
}