// .transfers {
// }

.transfers-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.artc-transfer {
  max-width: 300px;
  padding: 20px;
  border: 3px solid #0d4378;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.artc-transfer:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.city-title {
  text-align: center;
  font-family: Merriweather;
  font-size: 2em;
  margin-bottom: 30px;
  color: #0d4378;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.post-thumbnail {
  margin-bottom: 30px;
  img {
    width: 100%;
    height: 100%;
  }
}
.botton-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btn {
  padding: 10px 20px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  background: #0d4378;
  cursor: pointer;
}

.btn:hover {
  background: aliceblue;
  color: #0d4378;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.5s ease-in-out;
}

.link-to {
  padding: 10px 10px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  background: #0d4378;
  cursor: pointer;
}
.link-to:hover {
  background: aliceblue;
  color: #0d4378;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.5s ease-in-out;
}

/*=============== transfers in Moscow ===============*/

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #0d4378;
}

.brand-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.2em;

  letter-spacing: 0.05em;
}
.brand-name__color {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1em;

  letter-spacing: 0.05em;
  color: #1dc4e7;
}

.transfers-moscow__text {
  margin-bottom: 30px;
  margin-top: 30px;
}
.transfers-moscow__text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 2rem;
  color: black;
}

.transfer-card__wrapper {
  position: absolute;
  width: calc(100% - 280px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 10px;
  width: 350px;
  height: 700px;
  position: relative;
  perspective: 1000px;
  padding: 20px;
  border: 3px solid #1081e9;
  border-radius: 10px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}
.front {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.back {
  align-items: baseline;
  background-color: #0d437836;
  transform: rotateY(180deg);
}

.title-back {
  margin-top: 30px;
}

.subinfo-back {
  color: #000000;
  margin-bottom: 20px;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #0d4378;
}

.back-btn {
}

.active {
  .front {
    transform: rotateY(180deg);
  }
  .back {
    transform: rotateY(360deg);
  }
}

// .card:hover .front {
//   transform: rotateY(180deg);
// }
// .card:hover .back {
//   transform: rotateY(360deg);
// }

.card-title {
  margin-bottom: 30px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #3352f8;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-img__wrapp {
  display: flex;
  flex-direction: column;
}
.card-image {
  margin: 0 auto;
  width: 200px;
  height: 130px;
  img {
    width: 100%;
    height: 100%;
  }
}
.card-icons__wrapp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-icon {
  margin-right: 20px;
}
.card-body__info {
  margin-left: 20px;
  width: 322px;
}
.passangers-info {
  padding: 0 20px;
}

.passengers,
.baggage {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 5px;
}

.baggage {
  margin-bottom: 20px;
}

.subinfo {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #0000005e;
  margin-bottom: 20px;
  padding: 20px;
  p {
    margin-bottom: 10px;
  }
}

.bubble-wrapp {
  margin-bottom: 20px;
  padding: 0 20px;
}
.bubble {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  span {
    margin-left: 10px;
  }
}

.transfer-card__wrapper .botton-wrapp {
  justify-content: space-around;
}
